parameters:
	level: 7
	fileExtensions:
		- php
		#- phpt
	paths:
		- ./../../src
		- ./../../tests

includes:
	- ../../vendor/phpstan/phpstan-nette/extension.neon
	- ../../vendor/phpstan/phpstan-nette/rules.neon
