parameters:
	level: 8
	fileExtensions:
		- php
		- phpt
	paths:
		- ./../../src
		- ./../../tests

includes:
	- ../../vendor/phpstan/phpstan-nette/extension.neon
	- ../../vendor/phpstan/phpstan-nette/rules.neon
	- ../../vendor/nepada/phpstan-nette-tester/extension.neon
