parameters:
	autoload_directories:
		- ../../src
		- ../../tests
	excludes_analyse:
	ignoreErrors:
		- '#Call to function is_string\(\) will always evaluate to false#'
includes:
	- ../../vendor/phpstan/phpstan-nette/extension.neon
	- ../../vendor/phpstan/phpstan-nette/rules.neon
